 body {
     background: #f5f5f5;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }

 header {
     background: #236c34;
     color: white;
     padding: 15px;
     text-align: center;
     font-weight: bold;
     font-size: 1.3rem;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
 }

.bg-img {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.bg-img::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(86, 85, 85, 0.6); /* branco com opacidade 0.5, deixa a imagem mais clara */
    z-index: 0;
}

.bg-img > * {
    position: relative;
    z-index: 1;
}

 footer {
     background: #343a40;
     color: #fff;
     padding: 15px;
     text-align: center;
     margin-top: auto;
 }

 footer a {
     color: #ffc107;
     text-decoration: none;
     font-weight: bold;
 }

 footer a:hover {
     text-decoration: underline;
 }

 .card {
     border-radius: 20px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 }

 .btn-add {
     background-color: #29733a;
     color: #fff;
     font-weight: bold;
 }

 .btn-add:hover {
     background-color: #218838;
 }

 .item-comprado {
     text-decoration: line-through;
     color: gray !important;
     background-color: #e2e3e5 !important;
 }

 .btn-action {
     border-radius: 50%;
     width: 35px;
     height: 35px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

/* botao LIMPAR LISTA */

.button-limparLista {
  background-color: #a11919;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}